.idea
/bridge_bad.png
/bridge_good.png
/pelvic_balance_bad.png
/pelvic_balance_good.png
/plank_bad.png
/plank_good.png
/superman_bad.png
/superman_good.png
__pycache__/compute_phase_via_pca_hilbert.cpython-312.pyc
__pycache__/compute_phase_via_pca_hilbert.cpython-313.pyc
__pycache__/find_closest_indices.cpython-312.pyc
__pycache__/find_closest_indices.cpython-313.pyc
__pycache__/low_pass_filters.cpython-312.pyc
__pycache__/low_pass_filters.cpython-313.pyc
__pycache__/main_rossler.cpython-312.pyc
__pycache__/Online3DPhaseEstimator.cpython-312.pyc
__pycache__/Phase_estimator_pca_online.cpython-312.pyc
__pycache__/Phase_estimator_pca_online.cpython-313.pyc
__pycache__/RecursiveOnlinePhaseEstimator.cpython-312.pyc
__pycache__/RecursiveOnlinePhaseEstimator.cpython-313.pyc
__pycache__/wrap_functions.cpython-312.pyc
__pycache__/wrap_functions.cpython-313.pyc
.vscode/launch.json
setup_params/__pycache__
